.search_button {
  border-radius: 5px;
  background-color: #111111;
  color: #ffffff;
  cursor: pointer;
  padding: 0.4rem 2rem;
  margin-bottom:20px;
}

.search_box {
  height:10px;
  padding: 0.5rem 2rem;
  margin-bottom:20px;
  width: 100px;
}